{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Página De Login</title>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

</head>

<body class="text-center">

  <section id="banner">
    <header class="header-position-sticky">
      <div class="header-mx">
        <a href="/"><img draggable="false" src="{% static 'img/logo.png' %}" alt="" class="logo"></a>
        <button><a href="/register">Cadastrar</a></button>
      </div>
    </header>
  </section>


  <!-- login form  -->
  {% if user.is_authenticated %}
  <h1 style="position: static; width:auto; display: flex; margin-top: 50px;" > Você já está logado na plataforma. <br> Volte para a Navegação 
    e continue desfrutando das funcionalidades oferecidas. </h1>
  {% else %}

  <div id="conteudo-acesso">
    <div class="content-section">
      <form method="POST" autocomplete="off">
        {% csrf_token %}
        <h2>Entrar</h2>
        {{ form|crispy }}
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Logar</button>
        </div>
        <div class="border-top pt-3">
          <smal class="text-muted">
            Não possui uma conta? <a class="ml-2" href="{% url 'register' %}">Cadastre-se</a>
            </small>
        </div>
      </form>
    </div>

  </div>
  <!-- Rodapé -->
  <footer>
    <div class="footer-mx">
      <div class="footer-logo">
        <img class="logo-two" src="{% static 'img/logoTwo.png' %}" alt="">
        <p>&copy; 2021 Copyright - Lumus Company</p>
      </div>
    </div>
  </footer>
  {% endif %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</body>

</html>